<div class="" closeMenu>
  <nav
    id="menu"
    *ngIf="publicMenu"
    class="navbar navbar-default navbar-fixed-top"
  >
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home">
          <img alt="Brand" src="assets/logo.png" alt="Kupping" />
        </a>
      </div>
      <div class="navbar-form form-inline navbar-btn navbar-right">
        <button
          type="button"
          routerLinkActive="active"
          title="New User"
          class="btn btn-primary navbar-btn"
          routerLink="/home/signup">Sign up</button>
        <button
          class="btn btn-primary navbar-btn"
          *ngIf="!currentAuth"
          routerLink="/home/login">Log In</button>

        <button
          class="btn btn-primary navbar-btn "
          *ngIf="currentAuth"
          (click)="logout()">Log Out</button>
      </div>
      <div class="navbar-form form-inline navbar-btn navbar-right"></div>
    </div>
  </nav>
  <div class="router-outlet">
    <router-outlet class="router-outlet"></router-outlet>
  </div>
</div>
