<div class="" closeMenu>
  <nav id="menu" *ngIf="publicMenu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" routerLinkActive="active" class="btn btn-primary navbar-toggle collapsed" routerLink="/home/login">Sign in</button>
        <a class="navbar-brand" routerLink="/home">
          <img alt="Brand" src="assets/logo.png" alt="Kupping">
        </a>
      </div>
      <div class="navbar-form form-inline navbar-btn navbar-right hidden-xs">
        <button type="button" routerLinkActive="active" title="Login" class="btn btn-primary navbar-btn" routerLink="/home/login">Sign in</button>
      </div>
      <div class="navbar-form form-inline navbar-btn navbar-right hidden-xs">
        <button type="button" routerLinkActive="active" title="New User" class="btn btn-primary navbar-btn" routerLink="/home/signup">Sign up</button>
      </div>
    </div>
  </nav>
  <div class="router-outlet">
    <router-outlet class="router-outlet"></router-outlet>
  </div>
</div>

