<button type="button" class="btn btn-default" [routerLink]="['./new']">New Student</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Date of birth</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students" [routerLink]="['./detail', student.id]">
      <th scope="row">{{ student.id }}</th>
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.dateOfBirth }}</td>
      <td>
        <a 
          (click)="deleteStudent(student.id);$event.stopPropagation()">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
