.selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    width: 100%;
}
.reset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 100%;
}