.selection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    max-width: 100%;
    width: 100%;
}
.selection .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    max-width: 100%;
    width: 100%;
}
.selection .content .card { 
    min-width: 18rem;
    max-width: 18rem;
<<<<<<< HEAD
    min-height: 20rem;
    text-transform: capitalize;
}
.card .card-text {
    height: 14rem;
    justify-content: space-between;
    display: flex;
    flex-flow: column;
=======
>>>>>>> 63ce83c70f7922691b33ac690cab911b3535acea
}
.reset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 100%;
}