<!-- <div #gmap class="maps"></div> -->
<div class="style-selection selection" *ngIf="!styleSelected">
    <label>Select a style of dance</label>
    <div clas="content">
        <button type="button" class="btn btn-outline-primary m-2" *ngFor="let style of styles" (click)="setStyleSelected(style)" >{{style.name}}</button>
    </div>
</div>
<div class="country-selection selection" *ngIf="styleSelected && !countrySelected">
    <label>Select a country</label>
    <div clas="content">
        <button type="button" class="btn btn-outline-primary m-2" *ngFor="let country of countries" (click)="setCountrySelected(country)"  >{{country}}</button>
    </div>
</div>
<div class="city-selection selection" *ngIf="styleSelected && countrySelected && !citySelected">
    <label>Select a city</label>
    <div clas="content">
        <button type="button" class="btn btn-outline-primary m-2" *ngFor="let city of cities" (click)="setCitySelected(city)" >{{city}}</button>
    </div>
</div>
<div class="class-selection selection" *ngIf="styleSelected && countrySelected && citySelected">
    <div class="content">
        <div class="card bg-light m-2" *ngFor="let event of eventList" (click)="showBookingModel(event._id)">
            <div class="card-header text-center font-weight-bolder">{{event.name}}</div>
            <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <div class="col">
                            <div class="fromDate">{{event.fromDateFormated}}</div>
                            <div class="fromTime small">Starting at {{event.fromTimeFormated}}</div>
                        </div>
                        <div class="col">
                            <div class="toDate">{{event.toDateFormated}}</div>
                            <div class="toTime small">Finishing at {{event.toTimeFormated}}</div>
                        </div>
                    </div>
                    <div class="row pl-3 pr-3 font-weight-bold" *ngIf="event.repeat">
                        {{event.repeat}} 
                    </div>
                    <div class="row pl-3 pr-3">
                        Address: {{event.place.description}}, {{event.place.city}}, {{event.place.country}}
                    </div>
                    <div class="row pl-3 pr-3">
                        Style: {{event.danceStyle.name}}
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary m-auto">Get your spot</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="reset-action reset" *ngIf="styleSelected">
    <button type="button" class="btn btn-info" (click)="reset()">Reset Search</button>
</div>
<router-outlet class="router-outlet"></router-outlet>