<!-- <div #gmap class="maps"></div> -->
<div class="style-selection selection" *ngIf="!styleSelected">
    <button type="button" class="btn btn-outline-primary" *ngFor="let style of styles" (click)="setStyleSelected(style)" >{{style.name}}</button>
</div>
<div class="country-selection selection" *ngIf="styleSelected && !countrySelected">
        <button type="button" class="btn btn-outline-primary" *ngFor="let country of countries" (click)="setCountrySelected(country)"  >{{country}}</button>
</div>
<div class="city-selection selection" *ngIf="styleSelected && countrySelected && !citySelected">
    <button type="button" class="btn btn-outline-primary" *ngFor="let city of cities" (click)="setCitySelected(city)" >{{city}}</button>
</div>
<div class="class-selection selection" *ngIf="styleSelected && countrySelected && citySelected">
        <div class="card" style="width: 18rem;"  *ngFor="let event of eventList" (click)="showBookingModel(event._id)">
            <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <div class="card-text">
                    <ul class="list">
                        <li>Place: {{event.place.description}}</li>
                        <li>City: {{event.place.city}}</li>
                        <li>Country: {{event.place.country}}</li>
                    </ul>
                    <button type="button" class="btn btn-outline-primary" class="btn">Get your spot</button>
                </div>
            </div>
        </div>
</div>
<div class="reset-action reset" *ngIf="styleSelected">
    <button type="button" class="btn btn-info" (click)="reset()">Reset</button>
</div>
<router-outlet class="router-outlet"></router-outlet>