<button type="button" class="btn btn-default" [routerLink]="['./new']">New Class</button>
<div class="table-responsive hidden-xs">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Dance Style</th>
        <th>Place</th>
        <th>City</th>
        <th>Country</th>
        <th>Students</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let class of classes" [routerLink]="['./detail', class._id]">
        <th scope="row">{{ class.id }}</th>
        <td>{{ class.name }}</td>
        <td>{{ class.danceStyle.id }}</td>
        <td>{{ class.place.description }}</td>
        <td>{{ class.place.city }}</td>
        <td>{{ class.place.country }}</td>
        <td>{{ class.students?.length }}</td>
        <td>
          <a 
            (click)="deleteClass(class.id);$event.stopPropagation()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="hidden-sm hidden-md hidden-lg">
  <ul class="list-group" *ngFor="let class of classes" [routerLink]="['./detail', class.id]" >
    <li class="list-group-item">
      <span class="badge">
        <a 
          (click)="deleteClass(class.id);$event.stopPropagation()">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
      </span>
      <span class="header-grid">#</span>
      <span class="value-grid">{{ class.id }}</span>
    </li>
    <li class="list-group-item"><span class="header-grid">Name</span><span class="value-grid">{{ class.name }}</span></li>
    <li class="list-group-item"><span class="header-grid">Dance Style</span><span class="value-grid">{{ class.danceStyle.id }}</span></li>
    <li class="list-group-item"><span class="header-grid">Place</span><span class="value-grid">{{ class.place.description }}</span></li>
    <li class="list-group-item"><span class="header-grid">City</span><span class="value-grid">{{ class.place.city }}</span></li>
    <li class="list-group-item"><span class="header-grid">Country</span><span class="value-grid">{{ class.place.country }}</span></li>
    <li class="list-group-item"><span class="header-grid">Students</span><span class="value-grid">{{ class.students?.length }}</span></li>
  </ul>
</div>