<div class="container">
  <h1 *ngIf="!isDetail">New Class</h1>
  <h1 *ngIf="isDetail">Class</h1>
  <form [formGroup]="classForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" formControlName="name" id="name" required>
    </div>
    <div class="form-group">
      <label for="danceStyleId">Dance Style</label>
      <select class="form-control" formControlName="danceStyleId" id="danceStyleId" required>
        <option *ngFor="let danceStyle of danceStyles" [value]="danceStyle._id">{{danceStyle.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" class="form-control" formControlName="date" id="date" required>
    </div>
    <div class="form-group">
      <label for="hour">Hour to Start</label>
      <input type="text" class="form-control" formControlName="hour" id="hour" required>
    </div>
    <div class="form-group">
      <label for="duration">Duration</label>
      <input type="number" class="form-control" formControlName="duration" id="duration" required>
    </div>
    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" *ngIf="false">
    </ngb-datepicker>

    <ng-template #t let-date let-focused="focused">
      <span class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template>
    
    <div formGroupName="place">
      <h3>Address</h3>
    
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" formControlName="description" id="description" required>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" formControlName="city" id="city" required>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" formControlName="country" id="country" required>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Day of born</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of model.students" [routerLink]="['../../../students/detail/', student.id]">
          <th scope="row">{{ student.id }}</th>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-success" [disabled]="!classForm.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
  </form>
</div>